<html>
	<head>
		<title>R.I.P. Paint</title>
		<link rel="stylesheet" href="css/paint.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="icon" type="image/png" href="http://paint.rip/img/logo.png">
	</head>
	<body>
		<section class="window">
			<section class="top-bar">untitled - R.I.P. Paint</section>
			<section class="border">
				<section class="file-bar">
					<ul class="menu">
						<li>File</li>
						<li>Edit</li>
						<li>View</li>
						<li>Image</li>
						<li>Colors</li>
						<li>Help</li>
					</ul>
				</section>
				<section class="side-bar">
					<ul class="paint-buttons" id="paint-tools">
						<li class="paint-button"
							v-for="(tool, toolName) in tools"
							v-bind:title="toolName"
							v-bind:id="toolName + '-button'"
							v-bind:class="{ 'active-paint-button': toolName == currentToolName }"
							v-on:click="changeTool(toolName)">
								<span>{{ toolName }}</span>
							</li>
					</ul>
				</section>
				<section class="paintview" id="canvases">
					<canvas class="canvas" id="canvas" width="500px" height="500px"></canvas>
					<canvas class="canvas" id="shadow-canvas" width="500px" height="500px"></canvas>
				</section>
				<section class="bottom-bar">
					<section class="color-bar" id="color-bar">
						<section class="colors-selected"></section>
						<ul class="color-palette">
							<li class="color color-border"
								v-for="code in codes"
								v-bind:style="{background: code}"
								v-on:click="current = code"></li>
						</ul>
					</section>
				</section>
			</section>
		</section>
		<script src="js/vue.min.js"></script>
		<script src="js/paint.js"></script>
		<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-6635830-11', 'auto');ga('send', 'pageview');</script>
	</body>
</html>